# Windows image file caches
Thumbs.db 

# Folder config file
Desktop.ini

# JetBrains IDE project config file
.idea/

# SVN
.svn/

# Tmp File
tmp/
*.swp

# python compile bode
*.pyc

*.iml

.ipr
.iws

*.diff
*.patch
*.bak

.DS_Store
.nojekyll

.project
.settings/
